@{
    ViewBag.Title = "SrReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">Sales Report</div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <div class="row">
                                <label class=" col-lg-2 text-sm-right">Start Date:</label>
                                <div class="col-lg-3">
                                    <input class="datepicker form-control" data-date-format="dd/mm/yyyy" id="startDate">
                                </div>
                                <label class=" col-lg-2 text-sm-right">End Date:</label>
                                <div class="col-lg-3">
                                    <input class="datepicker form-control" data-date-format="dd/mm/yyyy" id="endDate">
                                </div>
                            </div>
                            

                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <label class=" col-lg-3 text-sm-right">Select SR:</label>

                                <div class="col-lg-6">
                                    @Html.DropDownList("srId", new SelectList(ViewBag.SalesRepresentativeSelectList, "Value", "Text"), "Select", new
                                {
                                    @class = "selectpicker show-tick form-control",
                                    data_live_search = "true",
                                    //onchange = "LoadModel('" + @Url.Action("GetModel", "Retailer") + "')",

                                })
                                    @*@Html.ValidationMessageFor(model => model.RetailerId, "", new { @class = "text-danger" })*@
                                </div>

                                <div class="col-lg-2">
                                    <button class="btn btn-outline-success btn-sm" id="btnSearch">Search</button>
                                </div>
                               
                            </div>
                            
                        </div>

                    </div>
                    

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-outline-info" id="exportToExel" onclick="tableToExcel('mainDiv', 'SrReport')">Export to Excel</button>
                        </div>
                    </div>
                    <div class="form-group row" id="mainDiv">
                        <table border="1" id="tblTotal">
                            <thead>
                            <tr>
                                <th>Total Qty</th>
                                <th>Total Value</th>
                            </tr>
                            </thead>
                            <tbody id="totalBody"></tbody>
                        </table>
                        <br/>
                        <br/>
                        @*<label style="align-content: center" id="srLabel">SR Name:</label>*@
                        <table class="table table-striped table-scrollable table-bordered table-hover first" id="sample_1">
                            <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>Sale Date</th>
                                <th>SR Name</th>
                                <th>Model</th>
                                <th>Sales Qty</th>
                                <th>Color</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                                <th>Discount</th>
                            </tr>
                            </thead>
                            <tbody id="tcBody"></tbody>
                        </table>
                    </div>

                    </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //$(".datepicker").datepicker();
        $("#sample_1").DataTable();
        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $("#btnSearch").on('click', function () {
            var srName = $("#srId  option:selected").text();
            var srId = $("#srId").val();
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            $('#sample_1 tbody').empty();
            $('#tblTotal tbody').empty();
            $('#srLabel').text('SR Name : ' + srName);

            var url = '@Url.Action("SrReport", "Dealer")';
            $.post(url, { startDate: startDate, endDate: endDate, srId:srId }, function (data) {
                console.log(data);
                
                if (data.length <= 0) {
                    alert("No Data found");
                    return 0;
                }
                var totalQty = 0;
                var totalValue = 0;
                for (var i in data) {
                    var dateString = data[i].SaleDate;
                    var seconds = parseInt(dateString.replace(/\/Date\(([0-9]+)[^+]\//i, "$1"));
                    var date = new Date(seconds);
                    date = formatDate(date);
                    var row = '<tr>' +
                        '<td>' + data[i].SerialNo + '</td>' +
                        '<td>' + date + '</td>' +
                        '<td>' + data[i].SrName + '</td>' +
                        '<td>' + data[i].Model + '</td>' +
                        '<td>' + data[i].GivenQty + '</td>' +
                        '<td>' + data[i].Color + '</td>' +
                        '<td>' + data[i].UnitPrice + '</td>' +
                        '<td>' + data[i].TotalPrice + '</td>' +
                        '<td>' + data[i].Discount + '</td>' +
                        '</tr>';
                    $('#tcBody').append(row);
                    totalQty += parseInt(data[i].GivenQty);
                    totalValue += parseFloat(data[i].TotalPrice);
                }
                var r = '<tr>' +
                    '<td>' + totalQty + '</td>' +
                    '<td>' + totalValue + '</td>' +
                    '</tr>';
                $('#totalBody').append(r);

            });
        });
    });

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        return [day, month, year].join('-');
    }

    function exportTableToExcel(tableId, filename) {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableId);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'excel_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,', template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>', base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }, format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        };
    })();
</script>