
@{
    ViewBag.Title = "SRReportData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">SR Report</div>
                <div class="card-body">
                    <div class="form-group row">

                        <label class=" col-lg-2 text-sm-right">Start Date:</label>
                        <div class="col-lg-2">
                            <input class="datepicker form-control" data-date-format="dd/mm/yyyy" id="startDate" autocomplete="off" placeholder="Start Date">
                        </div>
                        <label class=" col-lg-2 text-sm-right">End Date:</label>
                        <div class="col-lg-2">
                            <input class="datepicker form-control" data-date-format="dd/mm/yyyy" id="endDate" autocomplete="off" placeholder="End Date">
                        </div>
                        <label class=" col-lg-2 text-sm-right">Model</label>
                        <div class="col-lg-2">
                            @Html.DropDownList("model", new SelectList(ViewBag.modelList, "Value", "Text"), new { @class = "selectpicker show-tick form-control", @id = "model", data_live_search = "true", })
                        </div>

                    </div>
                    <div class="from-group row">

                        <label class=" col-lg-2 text-sm-right">SR:</label>
                        <div class="col-lg-2">
                            @Html.DropDownList("SR", new SelectList(ViewBag.sRList, "Value", "Text"), new { @class = "selectpicker show-tick form-control", @id = "sr", data_live_search = "true", })
                        </div>

                        <div class="col-lg-2">
                            <input type="button" class="btn btn-info" value="Search" id="btnSearch" />
                        </div>


                    </div>
                    <br />
                    <table class="table table-bordered" id="SRReportTable">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Dealer Name</th>
                                <th>SR Name</th>
                                <th>Contact No</th>
                                <th>Model</th>
                                <th>Issue QTY</th>
                                <th> Value</th>
                                <th>Incentive</th>
                            </tr>
                        </thead>
                        <tbody id="SRReportTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });


        $("#btnSearch").on('click', function () {
     
            $('#SRReportTable').DataTable().destroy();
            $("#SRReportTableBody").html("");


            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            var model = $("#model").val();
            var sr = $("#sr").val();

            var excelTitle = 'SR  Report ' + startDate + ' To ' + endDate;

            var date1 = new Date(startDate);
            var date2 = new Date(endDate);
            var dayBetween =date2.getTime()- date1.getTime();

            var Difference_In_Days = dayBetween / (1000 * 3600 * 24);


            var modelItem = {
                'StartDate': startDate,
                'EndDate': endDate,
                'SR': sr,
                'Model': model,
            };

            if (startDate !== "" && endDate !== "" ) {
                if(Difference_In_Days <= 90){
                var dataList = JSON.stringify({ objvmDealerAndRetailerStock: modelItem });
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    url: '@Url.Action("SRReportByDate", "Dealer")',
                    data: dataList,
                    success: function (data) {

                        //if (data.length > 0) {
                        //    $('#DealerStockTable').DataTable().destroy();
                        //    $("#DealerStockTableBody").html("");

                        //    var dataList = data.length;

                        //    for (var i = 0; i < dataList; i++) {

                        //        $("#DealerStockTableBody").append('<tr>' +
                        //               '<td>' + (i+1) + '</td>' +
                        //            '<td>' + data[i].DistributorName + '</td>' +
                        //            '<td>' + data[i].Model + '</td>' +
                        //            '<td>' + data[i].SalesQuantity + '</td>' +
                        //              '<td>' + data[i].SalesValue + '</td>' +
                        //         '<td>' + data[i].PresentStock + '</td>' +
                        //            '</tr>');
                        //    }
                        //    var table = $('#DealerStockTable').DataTable();

                        //    new $.fn.dataTable.Buttons(table, {
                        //        buttons: [
                        //            { extend: 'excel', className: 'excelBtn', title: excelTitle, text: 'Click For Excel Export' }
                        //        ]
                        //    });

                        //    table.buttons(0, null).container().prependTo(
                        //        table.table().container()
                        //    );
                        //} else {
                        //    iziToast.error({
                        //        title: 'Error',
                        //        message: 'No Data Found!.',
                        //        position: 'topCenter',
                        //    });

                        //}
                    }
                });

                } else {
                    alert("At a time, you can be select only three(3) months!.");
                }

            } else {
                alert("Select Date!");
            }

        });




    });


</script>


