
@{
    ViewBag.Title = "AuthFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Message: </strong> <br/>Authentication Failed.<br />You have no permission to access this page.
</div>
