<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.99.91:81/WDS</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://192.168.99.91/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Walton Distribution System/WDS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RBSYNERGYEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=36.255.68.211\WALTON01;Initial Catalog=RBSYNERGY;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WDS.DAL.RBSYNERGYEntities.RBSYNERGYEntities, WDS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RetailerMotivationProgramEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=36.255.68.211\WALTON01;Initial Catalog=RetailerMotivationProgram;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WDS.DAL.RetailerMotivation.RetailerMotivationProgramEntities, WDS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WDSEntities" Order="6" Enabled="False">
          <Destination Path="Data Source=36.255.68.211\WALTON01;Initial Catalog=WDS;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WDS.DAL.WdsEntities.WDSEntities, WDS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RBSYNERGYEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.RBSYNERGYEntities.RBSYNERGYModel.csdl|res://*/DAL.RBSYNERGYEntities.RBSYNERGYModel.ssdl|res://*/DAL.RBSYNERGYEntities.RBSYNERGYModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=36.255.68.211\WALTON01;Initial Catalog=RBSYNERGY;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RetailerMotivationProgramEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.RetailerMotivation.Model1.csdl|res://*/DAL.RetailerMotivation.Model1.ssdl|res://*/DAL.RetailerMotivation.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=36.255.68.211\WALTON01;Initial Catalog=RetailerMotivationProgram;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WDSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.WdsEntities.WdsModel.csdl|res://*/DAL.WdsEntities.WdsModel.ssdl|res://*/DAL.WdsEntities.WdsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=36.255.68.211\WALTON01;Initial Catalog=WDS;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>